
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('static/fonts/iransans/IRANSansWeb(FaNum)_Bold.eot');
    src: url('static/fonts/iransans/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('static/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('static/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('static/fonts/iransans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
  }
  
  body,html{
    font-family: IRANSans !important;
  }